.header {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.wrapper {
    background-color: var(--color-milky);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.07);
    padding-top: 38px;
    padding-bottom: 24px;
    margin-bottom: 57px;
}

.container {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 32px;
    font-weight: 600;
}

.logoPrimary {
    color: var(--color-red);
}

.right {
    display: flex;
    align-items: center;
    column-gap: 39px;
}

.btns {
    display: flex;
    column-gap: 9px;
}

.profile {
    background-color: var(--color-red);
    width: 34px;
    height: 34px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notifications {
    background-color: var(--color-red);
    width: 34px;
    height: 34px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.today {
    display: flex;
    flex-direction: column;
}

.day {
    font-weight: 500;
    font-size: 15px;
}

.date {
    font-weight: 500;
    font-size: 14px;
    color: var(--color-blue-light);
}