.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-red);
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-milky);
    padding: 38px 48px;
    box-shadow: 5px 4px 14px 0 rgba(0, 0, 0, 0.04), 20px 16px 26px 0 rgba(0, 0, 0, 0.03), 45px 36px 34px 0 rgba(0, 0, 0, 0.02), 80px 64px 41px 0 rgba(0, 0, 0, 0.01), 124px 100px 45px 0 rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
    margin-bottom: 30px;
}

.item {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4%;
}

.input {
    padding: 20px 18px;
    padding-left: 70px;
    width: 560px;
    border-radius: 8px;
    border: 1px solid #565454;
    font-weight: 500;
    font-size: 16px;
    font-family: "Inter", sans-serif;

    &::placeholder {
        color: var(--color-gray);
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 16px;
    }
}

.submit {
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 20px 30px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 18px;

    transition: opacity 0.3s ease-in;

        &:hover {
            opacity: 0.7;
        }
}

.text {
    font-weight: 500;
    
    & a {
        color: var(--color-blue-light);

        transition: opacity 0.3s ease-in;

        &:hover {
            opacity: 0.7;
        }
    }
}