.profile {

}

.top {
    display: flex;
    align-items: center;
}

.avatar {
    width: 100px;
    height: 100px;
    background-color: var(--color-gray);
    border-radius: 50%;
    margin-right: 15px;
}

.username {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 600;
    font-size: 20px;
}

.role {
    display: block;
    background-color: var(--color-blue-light);
    color: var(--color-white);
    font-weight: 600;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 8px;

    &.red {
        background-color: var(--color-red);
    }
}

.link {
    font-weight: 500;

    transition: color 0.3s ease-in;

    &:hover {
        color: var(--color-red);
    }
}