.top {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 25px;
}

.year {
    color: var(--color-red);
    font-size: 48px;
    font-weight: 600;
}

.month {
    font-size: 48px;
    font-weight: 600;
}

.daysName {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 8px;
}

.dayName {
    opacity: 0.7;
    display: block;
    width: 120px;
    font-weight: 500;
    text-align: center;
}

.list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 10px;
}

.item {
    position: relative;
    overflow-y: auto;
    width: 130px;
    height: 150px;
    background-color: var(--color-milky);
    border-radius: 10px;
    padding: 8px 10px;
    padding-top: 0;

    &.isHidden {
        opacity: 0.25;
    }
}

.itemTop {
    justify-content: space-between;
    display: flex;
    position: sticky;
    z-index: 999;
    top: 0;
    padding-top: 8px;
    padding-bottom: 5px;
    background-color: var(--color-milky);
}

.day {
    display: block;
    font-weight: 600;
}

.add {
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    width: 23px;
    height: 23px;
    padding: 4px;
    border: 1px solid #646464;
    border-radius: 4px;

    transition: opacity 0.5s, visibility 0.5s ease-in;

    &.isShow {
        opacity: 1;
        visibility: visible;

        &:hover {
            opacity: 0.7;
        }
    }
}

.eventList {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.eventItem {
    border-radius: 4px;
    padding: 4px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    cursor: pointer;

    transition: opacity 0.3s ease-in;

    &:hover {
        opacity: 0.7;
    }

    &.red {
        background-color: rgba(255, 149, 206, 0.5);
    }

    &.blue {
        background-color: rgba(82, 172, 255, 0.5);
    }

    &.green {
        background-color: rgba(146, 200, 141, 0.5);
    }

    &.yellow {
        background-color: rgba(207, 209, 63, 0.5);
    }
}

.eventTime {
    font-weight: 500;
}

.form {
    padding: 14px 16px;
    border: 1px solid var(--color-gray);
    margin-bottom: 48px;
}

.formList {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.formItem {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}

.label {
    font-weight: 600;
}

.input {
    background-color: var(--color-milky);
    border: 1px solid var(--color-gray);
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    padding: 12px 8px;
}

.formBtn {
    padding: 8px 26px;
    background-color: var(--color-orange);
    color: var(--color-white);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}